

<%- include('../partials/header'); -%>
<div class="lofi">
  <div class="container">
    <img class="bg"
      alt="bottom image"
      src="./assets/night.PNG"
    />
    <div class="avatar">
      <img alt="top image" src="./assets/study_green.GIF" />
    </div>
  </div>
  <br/>
  <div class="audio">
    <audio controls loop="true">
        <source
          src="./musics/relax_Mysterious-Lights.mp3"
          type="audio/mpeg"
        />
        Your browser does not support HTML5 audio.
      </audio>
  </div>
</div>

<%- include('../partials/footer'); -%>