<%- include('partials/header'); -%>

<header>
    <audio controls loop="true">
        <source src="./barradeen-bedtime-after-a-coffee.mp3" type="audio/mpeg" />
        Your browser does not support HTML5 audio.
    </audio>
    <div class="container" style="position: relative">
        <img style="z-index: 32; left: 8px; position: relative;" alt="bottom image" src="./blueSkyBkg.png">
        <div style="z-index: 100; left: 72px; position: absolute; top: 39px">
        <img alt="top image" src="./purpleFlowerGuy.gif"></div></div>
</header>


<%- include('partials/footer'); -%>