<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/yellow_ava.gif" style="width:500px;" alt="">
  </div>
  <div class="headings">
    <h3>Customize your lofi music and study buddy:</h3>
    <p> Note: Please select one option for each question</p>
    <br />
    <form>
      <h5>Your Mood:</h5>
      <input type="radio" name="mood" id="happy" value="Happy" checked> Happy
      <input type="radio" name="mood" id="sad" value="Sad"> Sad
      <input type="radio" name="mood" id="chill" value="Chill"> Chill
      
      <h5>Which color do you like:</h5>
      <input type="radio" name="avatar" value="Green" checked> Green
      <input type="radio" name="avatar" value="Purple"> Purple
      <input type="radio" name="avatar" value="Yellow"> Yellow

      <h5>Prefered time of the day:</h5>
      <input type="radio" name="time" value="Morning" checked> Day
      <input type="radio" name="time" value="Dusk"> Dusk
      <input type="radio" name="time" value="Night"> Night

      <button>Generate</button>
    </form>
  </div>
</header>


<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  
  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const mood = document.querySelector('input[name="mood"]:checked').value;
    const avatar = document.querySelector('input[name="avatar"]:checked').value;
    const time = document.querySelector('input[name="time"]:checked').value;
    console.log(JSON.stringify({ mood, avatar, time }));

    if (mood === "Chill") {
      if (avatar === "Green")
        location.assign('/lofichillav1morning');
    }

    // try {
    //   const res = await fetch('/customize', { 
    //     method: 'POST', 
    //     body: JSON.stringify({ mood, avatar, time }),
    //     headers: {'Content-Type': 'application/json'}
    //   });
    //   // const data = await res.json();
    //   // console.log(data);
    //   location.assign('/combinations/lofiachillav1morning');
    // }
    // catch (err) {
    //   console.log(err);
    // }
  });
</script>