<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>this should be the customize lofi music page, feel free to change anything here!</h2>
    <h3>Customize your own study buddy and lofi music!</h3>
    <form >
      <input type="radio" name="choice" value="Scripting" onclick="submitanswer()"> Scripting
      <input type="radio" name="choice" value="Programming"> Programming
      <input type="radio" name="choice" value="Application"> Application
      <input type="radio" name="choice" value="None of These"> None of These
    </form>
  </div>
</header>


<%- include('partials/footer'); -%>