<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/assets/03bdance.GIF" alt="">
  </div>
  <div class="headings">
    <h2>Welcome to Buds!</h2>
    <h3>Customize your own study buddy and lofi music!</h3>
    <a href="/customize" class="btn">Get Started</a>
  </div>
</header>


<%- include('partials/footer'); -%>